.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-bottom: 60px; // чтобы навигация не перекрывала контент
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}